@font-face {
  font-family: Raleway;
  src: url(./utils/Raleway-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: gray;
}

header, main {
  margin-left: 10%;
  margin-right: 10%;
}

aside {
  float: right;
}

aside>a {
  margin-right: 30px;
  text-decoration: none;
}

main>section:nth-child(1) {
  text-align: center;
  padding-bottom: 10%;
}

section>div {
  padding-bottom: 5%;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

main>section:nth-child(2) {
  background-color: rgb(235, 235, 235);
  padding-top: 5%;
  text-align: justify;
}

main>section:nth-child(3) {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: justify;
}

section>.container:nth-child(2)>div>* {
  padding-bottom: 25px;
}

#aboutus {
  font-size: xx-large;
  letter-spacing: 3px;
}

.aboutus-title {
  font-size: x-large;
  color: black;
}

.aboutus-info {
  padding-left: 10%;
  padding-right: 10%;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 25px;
}

.circle:hover {
  background-color: rgb(193, 155, 118);
}

.circle>i {
  padding-top: 20px;
}

hr {
  width: 30px;
  height: 2px;
  border-style: none;
  background-color: rgb(193, 155, 118);
}

button {
  color: #fff;
  width: 130px;
  height: 35px;
  border-radius: 100px;
  background-color: rgb(193, 155, 118);
  border-color: rgb(163, 132, 100);
  border-style: none;
}

button:hover {
  color: #fff;
  background-color: rgb(193, 155, 118);
  border-color: rgb(163, 132, 100);
}

button:focus, button.focus {
  color: #fff;
  background-color: rgb(193, 155, 118);
  border-color: rgb(163, 132, 100);
  box-shadow: 0 0 0 0.2rem rgb(212, 188, 164);
}

button.disabled, button:disabled {
  color: #fff;
  background-color: rgb(193, 155, 118);
  border-color: rgb(163, 132, 100);
}

.carousel {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.pictures {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 16px;
  color: rgb(193, 155, 118);
  font-size: 40px;
  transition: ease-out;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
}

.dots {
  position: absolute;
  top: 50%;
  right: 48%;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@media only screen and (max-width: 800px) {
  header, main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .prev, .next {
    top: 60%;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

}